<nav>
  <img class="logoa" src="assets/logo-nav.png">
    <!-- Listado de Navegación -->
    <ul class="menu">  
        <li><a href="#">FEATURES</a></li>  
        <li><a href="#">DOCS</a></li>  
        <li><a href="#">RESOURCES</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">BLOG</a></li> 
    </ul> 
    <div class="links">
      <input id='buscar' type="search" placeholder="   Search">
      <a class="logob" href="https://twitter.com/angular"><img src="/assets/twitter-icon.svg"></a>
      <a class="logob" href="https://github.com/angular/angular"><img src="/assets/github-icon.svg"></a>

    </div>   
</nav>